$directions: (
    't': 'top',
    'l': 'left',
    'r': 'right',
    'b': 'bottom'
);
$kinds: (
    'p': 'padding',
    'm': 'margin'
);
$sizes: (
    'w': 'width',
    'h': 'height'
);

$spacings: (
    "auto": auto,
    "px": 1px,
    "0": 0,
    "0\\.5": 0.125rem,
    "1": 0.25rem,
    "1\\.5": 0.375rem,
    "2": 0.5rem,
    "2\\.5": 0.625rem,
    "3": 0.75rem,
    "3\\.5": 0.875rem,
    "4": 1rem,
    "5": 1.25rem,
    "6": 1.5rem,
    "7": 1.75rem,
    "8": 2rem,
    "9": 2.25rem,
    "10": 2.5rem,
    "11": 2.75rem,
    "12": 3rem,
    "14": 3.5rem,
    "16": 4rem,
    "20": 5rem,
    "24": 6rem,
    "28": 7rem,
    "32": 8rem,
    "36": 9rem,
    "40": 10rem,
    "44": 11rem,
    "48": 12rem,
    "52": 13rem,
    "56": 14rem,
    "60": 15rem,
    "64": 16rem,
    "72": 18rem,
    "80": 20rem,
    "96": 24rem,
);

@each $key, $value in $sizes {
    .#{$key}-full {
        #{$value}: 100%;
    }

    $size-value: 100vw;

    @if ($key =='h') {
        $size-value: 100vh;
    }

    .#{$key}-screen {
        #{$value}: #{$size-value};
    }

    .#{$key}-max {
        #{$value}: max-content;
    }

    .#{$key}-min {
        #{$value}: min-content;
    }
}

@each $s-key, $s-value in $spacings {
    :root {
        --spacing-#{$s-key}: #{$s-value};
    }

    @each $key, $value in $sizes {
        .#{$key}-#{$s-key} {
            #{$value}: var(--spacing-#{$s-key});
        }
    }

    @each $k-key, $k-value in $kinds {
        .#{$k-key}-#{$s-key} {
            #{$k-value}: var(--spacing-#{$s-key});
        }

        .#{$k-key}x-#{$s-key} {
            #{$k-value}-left: var(--spacing-#{$s-key});
            #{$k-value}-right: var(--spacing-#{$s-key});
        }

        .#{$k-key}y-#{$s-key} {
            #{$k-value}-top: var(--spacing-#{$s-key});
            #{$k-value}-bottom: var(--spacing-#{$s-key});
        }

        @each $d-key, $d-value in $directions {
            .#{$k-key}#{$d-key}-#{$s-key} {
                #{$k-value}-#{$d-value}: var(--spacing-#{$s-key});
            }
        }
    }

    .gap-#{$s-key} {
        gap: var(--spacing-#{$s-key});
    }
}