@import './flex';
@import './font';

.bg-light {
    background-color: var(--bg-color);
}

.bg-semi-light {
    background-color: var(--sub-color);
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-none {
    pointer-events: none;
}

.color-primary {
    color: var(--primary-color);
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}