@import './var';
@import './breakpoints';
@import './spacing';

:root {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--main: 69, 62, 62;
	--sub: 247, 243, 245;

	--primary: 217, 7, 0;
	--primary-faded: 239, 77, 72;
	--bg: 255, 255, 255;

	--bg-color: rgba(var(--bg), 1);
	--main-color: rgba(var(--main), 1);
	--sub-color: rgba(var(--sub), 1);
	--primary-color: rgba(var(--primary), 1);
	--primary-faded-color: rgba(var(--primary-faded), 1);
}

body {
	background-color: var(--bg-color);
	color: var(--main-color);
	margin: 0;
	line-height: 26.4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

button {

	a,
	a:hover,
	a:focus {
		color: var(--bg-color);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
}

h1 {
	font-size: var(--spacing-10);
	line-height: 1.4em;
	margin-bottom: var(--spacing-8);
}

h2 {
	font-size: var(--spacing-8);
	line-height: 1.3em;
	margin-bottom: var(--spacing-5);
}

h3 {
	font-size: 1.625rem;
	line-height: 1.3em;
	margin-bottom: var(--spacing-5);
}

h5 {
	font-size: var(--spacing-5);
	line-height: 1.2em;
	margin-bottom: var(--spacing-4);
}

h6 {
	font-size: var(--spacing-4);
	line-height: 1.25em;
}

p {
	margin-bottom: var(--spacing-5);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	color: var(--primary-faded-color);
	transition: .3s color;

	&:hover,
	&:focus {
		color: var(--primary-color);
	}
}

ul {
	list-style-type: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
	color: #666;
	padding: 0.75em;
	height: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-radius: 2px;
	background: #f9fafb;
	box-shadow: none;
	box-sizing: border-box;
	transition: all .2s linear;
}

blockquote {
	margin: 0;
	position: relative;
	padding: var(--spacing-4) 0 var(--spacing-4) var(--spacing-8);
	font-style: italic;
	font-size: 1.1rem;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: .3rem;
		height: 100%;
		background-color: rgba(0, 0, 0, .05);
	}

	&>*:last-child {
		margin: 0;
	}
}