.header {
    .header-content {
        z-index: 1;
        height: 70px;
    }

    a {
        color: var(--main-color);

        &.active {
            color: var(--primary-color);
        }
    }
}