@import '../../styles/breakpoints';

.home {
    .home-section {
        &.sec-a {
            background-repeat: no-repeat;
            background-position: right 0 top 0;
            background-size: 48%;
            background-attachment: scroll;
            background-image: url('../../assets/life-coach.png');
            background-clip: padding-box;
        }

        &.sec-b {
            .section-content {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: var(--spacing-12);
                    height: 4px;
                    background-color: #000;
                }
            }
        }
    }

    .section-title {
        font-weight: bold;
        letter-spacing: 2px;
    }

    .section-content {
        margin-bottom: 2rem;
    }

    blockquote {
        margin: 0;
        position: relative;
        padding: 1px 0 1px 2rem;
        font-style: italic;
        font-size: 1.1rem;
        color: #453e3e;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: .3rem;
            height: 100%;
            background-color: rgba(0, 0, 0, .05);
        }
    }
}