.blog-wrapper {
    background-color: var(--sub-color);

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: var(--spacing-6) 0 var(--spacing-2);
    }

    h1,
    h2 {
        margin-bottom: var(--spacing-4);
    }

    p {
        margin-bottom: var(--spacing-2);
    }

    ul {
        padding: var(--spacing)
    }

    .avatar {
        box-shadow: 0 0 5px 0 rgba(var(--main), .15);
        border: 1px solid rgba(var(--main), .1);
    }
}